# Note that config file parsing is not tested against invalid
# or missing configurations because and is missing lots of error handling,
# so double check yout configuration file if something goes wrong.

# mempool_size = 2^log_mempool_size -1
log_mempool_size = 13;


# Number of Cores used by the application
cores = 1;

# Bitmask of ports which should be used.
port_mask = 0x03;

# cores on which the receiver receive.
receive_on_cores = [0, 0]

bench_senders:
(
    {
        core_id = 0;

        sender_id = 0;

        dst_mac = "00:1B:21:8B:84:21";
        src_ip = "40.0.0.11";
        dst_ip = "40.0.0.13";
        dst_udp_port = 6003;
        
        @include "sequences.cfg"

        # packet_size > IP + UDP + 16 (in byte)
    },{
        core_id = 0;

        # Port where the packets should be send from:
        sender_id = 1;

        dst_mac = "00:1B:21:8B:84:20";

        src_ip = "40.0.0.13";
        dst_ip = "40.0.0.11";

        dst_udp_port = 666;

        # packet_size > IP + UDP + 8 (in byte)
        sequence = (
            {
                packet_per_sec = 1;
                packet_nb = 0xFFFFFFFFFF;
                packet_size = 100;
            }
        )
    }
);

bench_receivers:
(
    {
        # Network Port where the packets should be send from:
        receiver_id = 1;

        # UDP Port where the packets should be send from:
        dst_udp_port = 6003;

        # Log file
        log_file = "bench1.csv"

        @include "sequences.cfg"
    }
);

arp_senders:
()
